<ul class="header nav justify-content-center">
  <li class="nav-item">
    <div class="container ">
      <form class="d-flex search">
        <input class="form-control me-2" type="search" placeholder="Search for cars" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form>
    </div>
  </li>
</ul>