
@import "ember-bootstrap/bootstrap";


.body {
 height: 80vh;
}
.footer{
  background-color: red;
  height: calc(100vh - 90vh)
}
.header{
  height:10vh;
}

.car{
  margin: 5px;
}

.scrollable{
  height: 100%;
  overflow-y: scroll;
}
