
@import "ember-bootstrap/bootstrap";


.body {
 height: 80vh;
}
.footer{
  height: calc(100vh - 90vh);
  position: absolute;
  width: 100%;
}
.header{
  height:10vh;
}

.car{
  margin: 15px;
}

.scrollable{
  height: 100%;
  overflow-y: scroll;
}

.search{
    max-width: 400px;
    margin-top:10px;

    input{
      margin-right: 1em;
    }

}
